.btn {
  padding: 0.4em 1.4em;
  text-decoration: none;
  display: inline-block;
}

.btn-primary {
  background: var(--app-complement-color);
  color: var(--app-dark-color);
  border-radius: 0.4em;
}

.btn-primary:hover {
  border: 3px solid var(--app-complement-color);
  background: none;
  color: var(--app-complement-color);
  animation: none;
}
